/* @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro");
@import url("https://fonts.googleapis.com/css?family=Questrial"); */

* {
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.menu {
  background: #92AB96;   /* #92AB96 (green); alternative #A7B2C6 (greyish blue) */
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  height: 60px;
  margin: 0 auto;
  padding: 0;
  list-style: none; 
  overflow:hidden;
}

.logo {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  text-transform: uppercase;
  border-left: 5px #7A306C solid;   /* #7A306C (purple) */
  margin-left: 35px;
  margin-top: 7px;
  margin-bottom: 7px; 
  padding-left: 15px;
  padding-top: 0px;
  color:  #3D3522;                 /* #3D3522 (brown) */
  font-size: 1.18rem;
  font-family: "Cinzel";
  font-weight: bold;
  /* border: 2px black solid; */
}

.logo a {
  text-decoration: none; 
  color:  #3D3522; 
}

.group {
  flex: 4;
  -webkit-flex: 4;
  -moz-flex: 4;
  /* border: 1px cyan solid; */ 
}

.ghost-space {
	flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  /* border: 1px blue solid; */
}

ul {
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
  /* border: 1px orange solid; */
}

.menu-tab {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  text-align: center;
  margin-top: 0px;
  /* border: 1px red solid; */
}

.menu-tab a {
  display: inline-block;
  text-decoration: none; 
  width: 85%;
  padding-bottom: 5px;
  padding-top: 5px;
  font-size: 1.02em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Cinzel";
  color: #3D3522;                   /* #3D3522 (brown) */
  /* -webkit-transition: 0.4s; 
  -moz-transition: 0.4s;
  transition: 0.4s; */
  /* border: 1px solid black; */
}

.menu-tab a:hover,
.menu-tab a:focus {
  color: #7A306C;                   /* #7A306C (purple); alt: #9B524C (red) */
  font-size: 1.02em;
  border-bottom: 2px #7A306C solid;
} 


.active a{
  color: #7A306C; 
  border-bottom: 2px #7A306C solid;  /* #7A306C (purple fonts & line) */
  font-size: 1.02em;
  /* text-shadow: 1px 1px 10px white; */
}

/*-------------------- burger icon ------------------------*/

nav input, 
nav label {
  display: none;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background: black;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 4px;
}

nav label {
  position: absolute;
  top: 12px; 
  right: 18px;
}

nav label:hover {
  cursor: pointer;
}

nav label:before {
  font-family: "FontAwesome" !important;
  content: "\f0c9";
  font-size: 24px;
  text-align: center;
}

/*------------------the beginning of home container ----------------*/
.home-container {
  height: auto;
}

.slider-wrapper {
  padding: 0; 
  /* overflow: hidden; */
}

.slider{
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.sl-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  /* background: lightblue; */
  /* border: 1px black solid; */
}

.sl-text h1{
  padding: 0px;
  line-height: 1.8em;
  font-size: 36px; 
  font-family: "Cinzel";
  text-align: center;
  color: white;
  text-shadow: 1px 1px 15px black; 
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.intro-wrapper {
  background: #EAEAEA;
  height: auto;
}

.intro-text {
  width: 68%;                  /* follow styling: 80% (+5px padding) */
  margin: 0 auto;
  background: #EAEAEA;         /* can be deleted due to the cascading */
  color: black;
  padding: 50px;
}

.intro-text h1{
  padding: 5px;
  font-size: 18pt; 
  font-family: "Cinzel";
  text-align: center;
  margin: 25px 0 5px 0; 
  /* border: 1px black solid; */
}

.intro-text h1:first-child {
  margin-top:0;
}

.intro-text p{
  padding: 16px 0;
  font-family: "Questrial";
  font-size: 12.5pt; 
  line-height: 1.3em;
  text-align: justify;
}


/*-------------------the end of home container --------------------*/


/* ------------------ the start of the pano page --------------- */
.pano-bg-container {
  background: #EAEAEA;
  /* border: 1px solid red; */
}

.pano-bg-img {
  margin: 0px auto;
  padding: 20px 0;                                /* spacing from the footer */
  /* border: 1px solid orange; */
}

.pano-title {
  width: 80%;            /* 80% (+5px padding) */
  margin: 0px auto;
  background: #EAEAEA;   /* can be deleted due to the cascading from pano-bg-container */
  color: black;
  margin-bottom: 20px;                          /* 20px spacing from the title box */
  /* border: 1px solid black; */
}

.pano-title h1{          /* h1 18pt 5px padding omni */
  padding: 5px;
  font-size: 18pt; 
  font-family: "Cinzel";
  text-align: center;
  /* border: 1px white solid; */
}

.pano-title p {          /* p 12.5pt 16px padding vertical */
  padding: 16px 0;
  font-family: "Questrial";
  font-size: 12.5pt; 
  line-height: 1.3em;
  text-align: justify;
  /* border: 1px lightblue solid; */
}


/* ---------- the panorama ---------- */
.pano-outer-wrapper {
  width: 80%;            /* follow styling: 80% (+5px padding) */
  margin: 0px auto;      
  margin-bottom: 40px;                        /* spacing from the footer */
  min-width: 310px;      /* crucial for small screen */
  /* border: 1px red solid; */
}

.pano-inner-wrapper {
  margin: 0px auto;                   /* 20px spacing from the title box */
  /* ---- crucial to keep the aspect ratio 2:1, alternative: 56.25% for 16:9 ; ---- */ 
  position: relative;  
  height: 0;
  padding-bottom: 50%; 
  /* ---- crucial to keep the aspect ratio 2:1 ---- */   
}

#panorama {
  /* ---- crucial to keep the aspect ratio 2:1 ---- */    
  position: absolute; 
  left:0;             
  top: 0;             
  width: 100%;       
  height: 100%;
  /* ---- crucial to keep the aspect ratio 2:1 ---- */     
}

/* --------------------- the end of pano page ------------------------ */


/* --------------------- the start of the gallery page --------------- */

.gallery-img {
  background: #EAEAEA;
}

.gallery-content-wrapper {
  margin: 0px auto;
  padding: 20px 0;                         /* spacing from the footer */
}

.gallery-title {
  width: 68%;                  /* follow styling: 80% (+5px padding) */
  margin: 0 auto;
  background: #EAEAEA;         /* can be deleted due to the cascading from gallery-imag */
  color: black;
  margin-bottom: 20px;                   /* 20px spacing from the title box */
  /* border: 1px black solid; */
}

.gallery-title h1 {            /* follow styling: h1 18pt 5px padding omni */
  padding: 5px;
  font-size: 18pt; 
  font-family: "Cinzel";
  text-align: center;
  /* border: 1px solid gold; */
}

.gallery-title p {            /* follow styling:  p 12.5pt 16px padding vertical */
  padding: 16px 0;
  font-family: "Questrial";
  font-size: 12.5pt; 
  line-height: 1.3em;
  text-align: justify;
  /* border: 1px solid white; */
}


.gallery-container {         /* should I put another div around this block to change the aspect ratio? */
  width: 68%;
  margin: 0px auto 40px;          /* 20px spacing from the title box*/   /* spacing from the footer */
  padding: 0;
  background: black;
  background: rgba(26,26,26,0.85); 
  /* border: 1px navy solid; */
}


/* ---------------- the end of the gallery page -------------- */


/* --------------- the start of the interview page --------------- */
.interview-img {
  background: #EAEAEA;
}

.interview-content-wrapper {
  margin: 0px auto;
  padding: 20px 0;              /* spacing from the footer */
}

.interview-title {             /* follow styling: 80% (+5px padding) */
  width: 68%;
  margin: 0 auto;
  background: #EAEAEA;         /* can be deleted due to the cascading from interview-img */
  color: black;
  margin-bottom: 20px;                  /* 20px spacing from the title box*/
  /* border: 1px solid navy; */
}

.interview-title h1 {         /* follow styling: h1 18pt 5px padding omni */
  padding: 5px;
  font-size: 18pt; 
  text-align: center;
  font-family: "Cinzel";
  /* border: 1px solid gold; */
}

.interview-title p {          /* follow styling:  p 12.5pt 16px padding vertical */
  padding: 16px 0;
  font-family: "Questrial"; 
  font-size: 12.5pt;
  line-height: 1.3em;
  text-align: justify;
  /* border: 1px solid white; */
}

.vd-container {
  width: 68%;
  margin: 0px auto 20px;       /* 20px spacing from the title box */  /* spacing from the footer */
  padding: 0;
  /* border: 1px solid orange; */
}

.vendor {
  margin: 0px auto;           /* don't touch the padding, as it will be changed by js */
  /* border: 1px gold solid; */
}

.vendor:first-child {
  margin-top: 0;
}

iframe, embed, object {
  max-width: 100%;
  border:0;
}

video {
  max-width: 100%;
  height: auto;
}

.unsupported {
  background: #DDD;
} 

.vd-unit {
  background: #EAEAEA;
  color: black;
  margin-bottom: 60px;           /* spacing between video units */
  /* border: 1px red solid; */
}

.vd-unit:last-child {
  margin-bottom: 0;
}

.vd-title {                     /* follow styling: h1 18pt 5px padding omni */
  padding: 5px;
  font-size: 18pt;
  text-align: center;
  font-family: "Cinzel";
}

.vd-title-s {
  padding: 5px;
  font-size: 13.5pt;
  text-align: center;
  font-family: "Cinzel";
}

.vd-description {               /* follow styling:  p 12.5pt 16px padding vertical */
  padding: 16px 0;
  font-family: "Questrial"; 
  font-size: 12.5pt;
  line-height: 1.3em;
  text-align: justify;
}

.vd-description:last-child {
  margin-bottom: 0;
}

/* -------------------- the end of the interview page ----------------------------- */


/* ---------------------- the beginning of the footer section ---------------- */
.ft-container {
  height: 50px;
  background: #92AB96;   /* #92AB96 green */
}

.ft-left {
  float: left;
  margin: 7px;
  padding: 0px;
  color: #3D3522;        /* #3D3522 brown */
}

.ft-right {
  float: right;
  margin: -9px 20px;
  padding: 0px;
  height: 50px;
  overflow: hidden; 
  /* border: 1px solid brown;*/
} 

.social-buttons {
  list-style: none;
  /* border: 1px solid gold; */
}


ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    color: #7A306C;     /* #7A306C purple; alt: #9B524C red */
}

ul.social-buttons li a {
    display: block;
    margin-right: 10px;
    padding: 5px;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    /* border: 1px solid blue; */
}
/* --------------------------- the end fo the footer section ---------------- */




/*-------------------------- responsive breakpoints: 920px 760px ---------------------*/

/* ---- for devices smaller than 920px ----*/
@media only screen and (max-width: 920px) {
  .menu-tab a {
   font-size: 0.95em;
   /* -webkit-transition: 0.4s; 
   -moz-transition: 0.4s;
   transition: 0.4s; */
 }

 .menu-tab a:hover,
 .menu-tab a:focus {
  font-size: 0.95em;
  } 
}

/* --------------------------- for devices smaller than 760px ---------------------*/
@media only screen and (max-width: 760px) {
  * {
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    margin: 0;
    padding: 0;
  }

  .menu {
    background: #92AB96; /* #92AB96 green */
    padding:0px;
    margin:0px;
  }
  
  /* ---------------fix the overflow of border in safari 9.0 ----------*/
  .logo {
    flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    text-transform: uppercase;
    border-left: 0px;           /* hide the borderline;*/    /* #C2A83E yellow #7A306C purple */
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-top: 8px;
    color: #3D3522;             /*  #3D3522 brown */
    font-size: 1.05em;
  }
  /* ---------------safari 9.0 problem partially fixed ----------*/

  .ghost-space {
    padding:0;
    margin-left:0px;
  }

  nav ul {
    display: none; 
  }
  nav li {
    flex: none;
    -webkit-flex: none;
    -moz-flex: none;
    width: 60%;                      /* previous: 75%; */
    /* float: right; */              /* better not using float */
    margin-right: 10px;              /* previous: 2px; */
    /* border-bottom: 1px yellow solid; */
  }
  nav .menu-tab a {
    width: 100%;                      /* previous: 100% */
    padding: 5px;
    color: white;                    /* previous: lightyellow; */
    background: #212121;;
    border-bottom: none;
    border-top: 1px white solid;     /* previous: lightyellow; */
    font-size: 1em;
    transition:none;
  }

  .menu-tab a:hover,.menu-tab a:focus {
    color: white;                     /* previous: #212121 dark grey; */
    background: #7A306C;              /*7A306C purple */ /* previous: #C2A83E yellow #9B524C red */
    border-bottom: none; 
    font-size: 1em; 
  }

  nav input[type="checkbox"]:checked + ul {
    display: block;
    list-style: none;
    width: 175%;                     /* flex 1, 4, 1 150% + 25%*/
    padding: 0;
    position: absolute;  /* on top of the jumbotron or whatever header beneath the menu */
    z-index: 990;        /* on top of the jumbotron or whatever header beneath the menu */
    margin-top: 60px;
    margin-left: -25%;               /* transformed to the left by 25% */
    -webkit-transition: 0.4s; 
    -moz-transition: 0.4s;
    transition: 0.4s;
    /* transition-duration: 1s;
    transition-timing-function: ease-in-out; */
    /* border: 1px orange solid; */
  }
  nav label {
    display: block;
  }

  nav input, 
  nav label {
    width: 36px;
    height: 36px;
    background: #3D3522;  /* brown */  /* previous: #212121 black; #3D3522 or #4A442D brown; #C2A83E yellow */
    color: white;         /* prevoious: lightyellow; #212121 dark grey */
    text-align: center;
    line-height: 36px;
    font-size: 1.6rem;
    border-radius: 4px;
    margin-right: -2px;
    position: absolute;  /* on top of the menu ul */
    z-index: 999;        /* on top of the menu ul */
  }

 

 /* -----------------------responsive: pano page -------------------- */
  .pano-bg-img {
    background: #EAEAEA; /* previous: #575046 brown*/
    height: auto;        /* 760px; or 1080px; */
    margin-top: 0px;
    padding-top: 65px;   /* 95px */
    text-align: center;
    /* border: 1px orange solid; */
  }

  .pano-title {
    width: 93%;
    margin-bottom: 50px;
  }

  .pano-outer-wrapper {
    width: 93%; 
  }

  .pano-inner-wrapper {
/* ---- crucial to keep the aspect ratio 3:2 ---- */
  position: relative;
  height: 0;
  padding-bottom: 66.67%;
/* ---- crucial to keep the aspect ratio 3:2 ---- */               
  }

  #panorama {
  /* ---- crucial to keep the aspect ratio 3:2 ---- */    
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height: 100%;
  /* ---- crucial to keep the aspect ratio 3:2 ---- */    
  }


  /* -----------------------responsive: gallery page -------------------- */
  .gallery-img {
    background: #EAEAEA; /* previous: #e3f3f6 light blue, #D9D6D1 #cccac7 #dddcda light grey,  #7fa571 green, #575046 brown */
    height: auto; 
    margin-top: 0px;
    padding-top: 45px;
  }

  .gallery-title {
  width: 93%;
  }

  .gallery-container {
  width: 93%;
  }
  
  /* --------------------responsive: interview page ---------------- */
  
  .interview-content-wrapper {
    padding-top: 65px;
  }

  .interview-title{
    width: 93%;
  }

  .vd-container {
    width: 93%;
  }

/* ------------------- responsive home page ------------- */
  .intro-text {
    width: 85%;
    padding: 30px 0;
  }

}

/* --------- responsive: homepage sl-text; breakpoints: 900, 700, 600, 500, 450; --------- */

/* ---- for devices between 900 and 700 ----*/
@media only screen and (max-width: 900px) {  
  .sl-text h1 {
  font-size: 28px; 
  /* color: lightyellow; */
  }
}

/* ---- for devices between 700 and 500 ----*/
@media only screen and (max-width: 700px) {
  .sl-text h1 {
  font-size: 24px; 
  /* color: lightcyan; */
  } 
}

/* ---- for devices smaller than 500 ----*/
@media only screen and (max-width: 600px) {
  .sl-text h1 {
  font-size: 20px; 
  /* color: gold; */
  } 
}

/* ---- for devices smaller than 500 ----*/
@media only screen and (max-width: 500px) {
  .sl-text h1 {
  font-size: 18px; 
  /* color: orange; */
  } 
}

/* ---- for devices smaller than 450 ----*/
@media only screen and (max-width: 449px) {
  .sl-text h1 {
  display: none;
  }
}

/* ---- for screen wider than 1280 ----*/
@media only screen and (min-width: 1281px) {
 .pano-bg-container {
  height: 1440px;
 }

 .gallery-img {
  height: 1440px;
 }

 .sl-text h1 {
  font-size: 50px; 
  }
}
